.contact-container {
    width: 100vw;
    padding: 2rem 0;
    background: linear-gradient(to bottom, $primary-color, $secondary-color);
    @include flex(flex-start, column); 
}

.contact-items {
    // @include border(red);
    @include flex(center, column);
    width: 80%;
    height: 80%;
}

.contact-item {
    margin: 1.2rem;

    a {
        cursor: pointer;
    }
}

@media(min-width: 750px) {
    .contact-items {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contact-item {
        margin: 1.2rem 3rem;
    }
}