.projects-container {
    width: 100vw;
    padding: 2rem 0;
    background: linear-gradient(to right, $primary-color, $secondary-color);
    @include flex(space-evenly, column);
}

.projects-highlight {
    height: 500px;
    width: 500px;
    background: 
        linear-gradient(to right, rgba($btn-color, 0.8), rgba($btn-color, 0.5)),
        url('../assets/img/projects-1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    @include flex(center, row);

    h2 {
        @include flex(center, row);
    }
}

.project-item {
    // @include border(orange);
    width: 75%;
    margin: 1.5rem 0;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    img {
        width: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        height: 100%;
        width: 100%;
        background: $btn-color;
        opacity: 0;
        transition: .2s ease-in-out;
    }
    
    &:hover {
        &::after {
            top: 0;
            opacity: 0.9;
        }

        .project-btn {
            opacity: 1;
        }
    }
}

.project-btns {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    @include flex(center, row)
    
}

.project-btn {
    margin: 0 30px;
    opacity: 0;
    transition: .2s ease-in-out;

    &:hover {
        color: $light-color;
    }
}