.skills-container {
    // @include border(red);
    // height: 70vh;
    width: 100vw;
    padding: 2rem 0;
    background: linear-gradient(to left, $primary-color, $secondary-color);
    @include flex(space-evenly, column); 
}

.skills-map {
    // @include border(yellowgreen);
    @include flex(center, row);
    flex-wrap: wrap;
    width: 80%;
}

@media(min-width: 1024px) {
    .skills-map {
        max-width: 1100px;
    }
}