@import './config';
@import './header';
@import './intro';
@import './projects';
@import './skills';
@import './skill';
@import './contact';
@import './footer';

.app-container {
    text-align: center;
    font-family: $body-font;
    font-size: 1rem;
    font-weight: 300;
    color: white;

    a {
        text-decoration: none;
        color: white;
    }
}

h1 {
    font-family: $header-font;
    font-size: 5rem;
    font-weight: 500;
}

h2 {
    font-family: $header-font;
    font-size: 4rem;
    font-weight: 600;
}

h3 {
    font-family: $header-font;
    font-size: 3rem;
    font-weight: 700;
}

h4 {
    font-family: $header-font;
    font-size: 2rem;
    font-weight: 700;
}

h5 {
    font-family: $body-font;
    font-size: 1.5rem;
    font-weight: 700;
}

h6 {
    font-family: $body-font;
    font-size: 1rem;
    font-weight: 700;
}

.hidden {
    display: none;
}