@use './config' as *;

.projectsContainer {
  width: 100vw;
  padding: 2rem 0;
  background: linear-gradient(to right, $primary-color, $secondary-color);
  @include flex(space-evenly, column);
}

.projectItemsContainer {
  // @include border(red);
  @include flex(flex-start, row);
  width: 90%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.projectItem {
  // @include border(orange);
  width: 72%;
  flex-shrink: 0;
  margin: 1.5rem 0.75rem;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  img {
      width: 100%;
  }

  &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: $btn-color;
      opacity: 0;
      transition: .2s ease-in-out;
  }
  
  &:hover {
      &::after {
          top: 0;
          opacity: 0.9;
      }

      .projectBtn {
          opacity: 1;
      }
  }
}

.projectBtns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  @include flex(center, row);
  flex-wrap: wrap;
  gap: 1rem;
}

.projectBtn {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  opacity: 0;
  transition: .2s ease-in-out;

  &:hover {
      color: $light-color;
  }
}

.projectBtnsMulti {
  gap: 0.5rem;

  .projectBtn {
      width: 70px;
      font-size: 0.95rem;
      gap: 0.3rem;
  }
}

@media(min-width: 750px) {
  .projectItemsContainer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 288px));
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      overflow-x: visible;
  }

  .projectItem {
      width: 100%;
      max-width: 288px;
      margin: 0;
  }
}

@media(min-width: 1024px) {
  .projectItemsContainer {
      max-width: 1300px;
  }
}
